* {
    font-family: 'Quicksand', sans-serif; }

h1 {
    text-align: center; }

h2 {
    padding: 2em;
    text-align: center;
    color: white; }

h3 {
    text-align: left;
}

body {
    background-color:rgb(131, 207, 255);
    line-height: 1.5em; }
    

.parent-container {
    margin-top: 75px;
    text-align: center;
    display: flex; 
    justify-content: center; }

li.style {
    border-right: 3px solid rgb(131, 207, 255);
    float: left; }
  
ul.styled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(213, 223, 228);
    display: inline-block; }

li a, .dropbtn {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }

li a:hover, .dropdown:hover .dropbtn .foot {
    background-color: rgb(106, 169, 199); }

li.dropdown {
    border-right: 3px solid rgb(131, 207, 255);
    float: left; }
      
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; }
      
.dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
      
.dropdown-content a:hover {
    background-color: #f1f1f1; }

      
.dropdown:hover .dropdown-content {
    display: block; }

.box {
    padding: 2em;
    display: flex;
    justify-content: center;
  }

.text-box {
    display: flex;
    justify-content: center
}

.text-sub-box {
    flex-basis: 350px;
    padding: 1em;
}
.sub-box, h3 {
    flex-basis: 350px;
    padding: 1em;
    text-align: center;
  }

img:hover {
    opacity: .65;
    transition: opacity .1s ease-in;
    -moz-transition: opacity .25s ease-in;
    -webkit-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transform: scale(1.1);
}