body {
    font-family: Arial;
    background-color: #cce8ff; 
    line-height: 1.5em; }
    

h1 {
    font-family: 'PT Serif', serif;
    color: #157bcf;
    background-color: #ffffff;
    padding: 25px; 
    letter-spacing: 0.2em;
    text-transform: uppercase; }

p {
    padding-left: 10px; 
    padding-right: 10px; }
    
h2 {
    font-family: 'PT Serif', serif;
    color: #157bcf;
    background-color: #ffffff;
    padding: 10px; }

a:visited {
color: #f10404; 
}

a:hover {
color: #ff7b00;
text-decoration: underline; }
