        body {
                font-family: Arial;
                background-color: #CEF0D1; }
            h1 {
                color: #298B34;
                background-color: #F0FFF2;
                padding: 20px; }

            p {
                padding-left: 20px; 
                padding-right: 20px; }

            h2 {
                color: #298B34;
                background-color: #F0FFF2;
                padding: 5px; }
        