body {
    font-family: Arial;
    color: #3D4849;
    background-color: #f4f4f0; 
    line-height: 1.5em; }
    

    p {
        border-style: dashed;
        border-width: 1px;
        border-color: lightgray;
        background-color: white; 
        padding: 20px; }

    h1 {
        color: black;
        font-family: 'PT Serif', serif; 
        letter-spacing: 0.05em; 
        text-transform: uppercase; }

    a.button:link {
        color: #792899;
        border: 1px solid #792899;
        background-color: #cce8ff;
        padding: 10px; 
        position: relative;
        bottom: 19px; 
        border-radius: 10px; 
        text-decoration: none; }

    a.button:active {
        color: #164f1d; }

    a.button:visited {
        color: #d279f5;
        border: 1px solid #d279f5;
        background-color: #cce8ff; }

    a.button:hover {
        color: #164f1d;
        border: 1px solid #164f1d;
        background-color: #cce8ff; }
    
    