body {
    font-family: Arial;
    background-color: #CEF0D1; }
h1 {
    font-family: 'Comfortaa', cursive;
    color: #298B34;
    background-color: #F0FFF2;
    padding: 20px; 
    letter-spacing: 0.2em;
    text-transform: uppercase; }

p {
    padding-left: 20px; 
    padding-right: 20px; 
    line-height: 1.6em; 
    font-family: "Courier New", 'Courier New', Courier, monospace; }

h2 {
    color: #298B34;
    background-color: #F0FFF2;
    padding: 5px; }

a:link {
color: #298B34;
text-decoration: none; }

a:visited {
color: #c242f5; 
}

a:hover {
color: #792899;
text-decoration: underline; }

a:active {
color: #164f1d; }